.head {
    display: flex;
    justify-content: space-between;
    width: 1440px;
    margin: 20px auto;
}
.head a {
    padding: 20px 10px;
}

/* 1================================= */

.banner {
    width: 1440px;
    height: 600px;
    background-image: url("870-1440x500.jpg");
    background-size: cover;
    margin: 20px auto;
}
.banner::after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 100px solid transparent;
    border-right: 1040px solid #fff;
    /* border-bottom: 100px solid #fff; */
    border-left: 400px solid #fff;
}
.banner .wrap {
    width: 800px;
    height: 100px;
    padding: 100px 0px 300px 300px;
    border: 1px solid red;
}
.banner .wrap .b {
    color: #fff;
}
.banner .wrap h1 {
    font-weight: bold;
    font-size: 50px;
}
.banner .wrap p {
    font-size: 16px;
    padding: 20px 0 80px 0;
}
.banner .wrap a {
    font-size: 16px;
    padding: 20px;
    background-color: #a00;
    border-radius: 8px;
}

/* 2================================== */

.title {
    width: 100%;
    text-align: center;
}
.title h2 {
    font-size: 28px;
    font-weight: bold;
}
.title h2::after {
    content: "";
    display: block;
    width: 40px;
    height: 0;
    margin: 5px auto;
    border-top: 2px solid #f00;
}
.title p {
    font-size: 18px;
    margin: 30px 0;
}

/* all================================ */

.fish {
    width: 1440px;
    margin: 60px auto;
}
.fish .wrap {
    display: flex;
    justify-content: center;
}
.fish .box {
    width: 400px;
    text-align: center;
    margin: 0 50px;
}
.fish .box h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0;
}




/* 3================================== */
.teacher {
    width: 1440px;
    margin: 30px auto;
}
.teacher .title {
    width: 800px;
    text-align: left;
    margin: 0 auto;
}
.teacher .title h2::after {
    margin: 5px 0;
}
.teacher .container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.teacher .box {
    width: 600px;
    height: 600px;
    margin: 40px;
}
.teacher .wrap {
    display: flex;
}
.teacher .name h3 {}
.teacher .name h3::after {
    content: "";
    display: block;
    width: 40px;
    border-bottom: 2px solid #f00;
    margin: 5px 0;
}

.teacher .content .line::after {
    content: "";
    display: inline-block;
    width: 450px;
    height: 5px;
    border-top: 1px solid #ccc;
    margin: 0 10px;
}





/* 4================================== */






/* 5================================== */






/* 6================================== */







/* 7================================== */






/* 8================================== */